Source: io.github.howard20181.bilibili
Maintainer: Howard
Standards-Version: BUILD_VERSION
Priority: optional
Section: application

Package: io.github.howard20181.bilibili
Architecture: amd64
Description: BiliBili multiplatform.
  BiliBili multiplatform. This version is unofficial. 
